@charset "utf-8";

body{
    background-color: rgb(232, 232, 232);
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    padding: 6vw;
    font-family: monospace;
}
nav{
    align: center;
    width: 100vw;
    background-color: #D6EFFF;
}
ul{
    display: flex;
   
}
li{
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}
a:hover{
    background-color: #C6E9FF;
}

@media only screen and (max-width: 500px){
    ul{
        flex-direction: column;
    }
    li{
        margin: 0;
    }
    a{
        display: block;
    }
}
header{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}









